
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
      <i class="fas fa-paw"></i>
    {{title}}</a>
  <button class="navbar-toggler" type="button" type="button" aria-controls="navbar-menu" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbar-menu" class="collapse navbar-collapse float-xs-none">
    <div class="navbar-nav">
        <a class="nav-item nav-link nav-label" routerLink="/home" routerLinkActive="active">
          <i class="fas fa-home"></i>
        <span>Home</span>
        </a>
        <a class="nav-item nav-link nav-label" routerLink="/carrinho" routerLinkActive="active">
          <i class="fas fa-cart-plus"></i>
            <span>Carrinho</span>
          </a>
   
    </div>
  </div>
</nav>
</header>
