.nav-label {
    font-weight: bold;
}
.input-navbar{
    /* padding-right: 150px; */
    /* padding-left: 150px; */
     margin-right: 5px;
     width: 400px;
}
.btn-primary {
    border-color: rgb(7, 134, 156);
    color:  rgb(7, 134, 156);
    font-weight: bold;
    background-color: transparent;
    width: 100px
  }

  .form-header{
    margin-right: 150px;
  }